
.g_tbdr{
    border: 1px dashed red;
}

body{
    background: blue;
}
header{
    height: 80px;
    border: 1px dashed #000;
}
main{
    min-height: 1048px;
    border:1px dashed #000; 
}
footer{
    height: 383px;
    border: 1px dashed black;
}

@media (min-width: 1400px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1448px;
}

}